*.sdf
*.opensdf
*.filters
Hikari Engine/Debug/CL.read.1.tlog
*.tlog
*.exe
*.obj
*.log
*.lastbuildstate
*.user
*.pdb
*.idb
*.ilk
Hikari Engine/Hikari Engine.vcxproj.filters
UnitTests/UnitTests.vcxproj.filters
Hikari Engine/Hikari Engine.v11.suo
*.suo
